<div class="sobre-mi-container">
    <h2>Quien soy?</h2>
    
    <div class="info-container">
      <app-cartel>

        <h3>Datos Personales</h3>
        <p>Mi nombre es Franco Ferrari, soy estudiante de TUP, y esta página es mi tributo a VOCALOID.</p>
      
      </app-cartel>
      
      <div class="imagen">
        <img src="../login/assets/foto.jpg">
      </div>
    </div>
  
    <app-cartel>
      <h3>Explicación del Juego</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula, eros at ultrices efficitur, ligula est tincidunt odio, sed scelerisque justo quam eget mauris. Praesent sodales mollis libero nec volutpat. Ut auctor massa ac quam faucibus, at eleifend nisl suscipit. Nam maximus orci sit amet metus volutpat cursus.</p>
    

    </app-cartel>
  </div>
  