<div class="sobre-mi-container">
  <app-cartel>

    <h2 class="titulo-pagina">Quién soy?</h2>
  </app-cartel>

  <div class="contenido-principal">
    <div class="info-container">
      <div class="datos-personales">
        <h2>Datos Personales</h2>
        <p>Mi nombre es Franco Ferrari, soy estudiante de TUP, y esta página es mi tributo a VOCALOID.</p>
      </div>

      <div class="imagen">
        <img src="../../../assets/foto.jpg" alt="Foto personal">
      </div>
    </div>

    <div class="explicacion-juego">
      <h2>Explicación del Juego: Laberinto</h2>
      <p>El juego consiste en mover un círculo a través de una serie de paredes que hacen de obstáculos, las cuales si tocas, ¡pierdes!</p><br>
      <p>Debes intentar llegar a la meta, que es el cuadrado verde, para completar el desafío. La gracia del juego no es solo poder completar el laberinto, sino hacerlo en el mejor tiempo posible.</p>
    </div>
  </div>
</div>
