.home-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  background-image: url('../../../assets/bg-home.jpg');
  background-size: cover;
  color: rgb(255, 242, 218);
  position: relative;
  text-align: center;
}

.header {
  background-color: black;
  color: white;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1000;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.profile-pic {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.user-email {
  margin-right: auto;
}

h2 {
  margin: 0;
}

.small-button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  font-size: 0.8rem;
  background-color: rgba(0, 229, 229, 0.7); /* Celeste claro, un poco menos intenso */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.small-button img.button-icon {
  width: 29px;
  height: 29px;
}

.small-button:hover {
  background-color: rgba(0, 229, 229, 0.9); /* Un poco más intenso para el hover */
}


.game-section {
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  position: absolute;
  bottom: 250px;
  right: 20px;
  z-index: 100;
}

.game-section-title {
  color: #00e5e5; /* Celeste */
  text-shadow: 
    0 0 5px rgba(0, 229, 229, 0.8), 
    0 0 10px rgba(0, 229, 229, 1),
    0 0 20px rgba(0, 229, 229, 1),
    0 0 30px rgba(0, 229, 229, 1);
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.game-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.game-buttons-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.game-buttons-row button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 229, 229, 0.7);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.titulo-neon {
  color: #00e5e5; /* Celeste */
  text-shadow: 
    0 0 5px rgba(0, 229, 229, 0.8), 
    0 0 10px rgba(0, 229, 229, 1),
    0 0 20px rgba(0, 229, 229, 1),
    0 0 30px rgba(0, 229, 229, 1);
  margin: 0;
  font-size: 2.5rem; /* Ajusta el tamaño según sea necesario */
}
.game-buttons-row button img.button-icon {
  width: 30px;
  height: 30px;
}

.game-buttons-row button:hover {
  background-color: rgba(0, 229, 229, 0.9);
}
app-chat {
  position: absolute;
  bottom: 250px;
  left: 20px;
  max-width: 300px;
  z-index: 100;
}
