.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../login/assets/bg-home.jpg'); 
    background-size: cover;
    color: rgb(255, 242, 218);
    text-align: center;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3700b3;
  }
  