.chat-container {
  display: flex;
  flex-direction: column;
  padding: 5px; /* Reducir el padding */
  background-color: #000; /* Fondo negro */
  height: 25vh; /* Reducir el alto del chat */
  max-width: 400px; /* Ancho máximo más pequeño */
  margin: 10px auto; /* Centrar el chat */
  overflow-y: auto;
  border-radius: 10px; /* Bordes redondeados */
}

.message-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px; /* Reducir el margen entre mensajes */
  max-width: 60%; /* Reducir el ancho máximo de los mensajes */
  color: aqua; /* Letra color aqua */
  font-size: 12px; /* Tamaño de letra reducido */
  word-wrap: break-word; /* Permitir que las palabras largas se corten y pasen al siguiente renglón */
  word-break: break-word; /* Asegurar que las palabras se corten correctamente */
  white-space: normal; /* Permitir que el texto ocupe múltiples líneas */
}

.my-message {
  align-self: flex-end; /* Alinear a la derecha */
  background-color: #333; /* Fondo oscuro */
  text-align: right;
  border-radius: 12px 12px 0 12px; /* Bordes más pequeños */
  padding: 6px; /* Reducir padding */
  color: aqua;
  font-size: 12px; /* Tamaño de letra reducido */
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

.other-message {
  align-self: flex-start; /* Alinear a la izquierda */
  background-color: #444;
  border-radius: 12px 12px 12px 0; /* Bordes más pequeños */
  padding: 6px; /* Reducir padding */
  color: aqua;
  font-size: 12px; /* Tamaño de letra reducido */
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

.new-message input {
  flex: 1;
  padding: 6px; /* Reducir padding */
  border-radius: 8px;
  border: 1px solid #555;
  background-color: #222;
  color: aqua;
  font-size: 12px; /* Tamaño de letra reducido */
}

.new-message button {
  padding: 6px; /* Reducir padding */
  border-radius: 8px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 5px; /* Reducir margen */
  font-size: 12px; /* Tamaño de letra reducido */
}

.avatar {
  width: 40px; /* Reducir tamaño del avatar */
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px; /* Reducir el margen */
}
