<div class="chat-container" #chatContainer>
  <div *ngFor="let message of messages" class="message-container" 
       [ngClass]="{'my-message': message.email === userEmail, 'other-message': message.email !== userEmail}">
    
    <div *ngIf="message.email !== userEmail" class="message-header">
      <img [src]="getAvatarURL(message.avatar)" class="avatar" alt="Avatar">
      <span class="email">{{ message.email }}</span>
    </div>

    <div class="message-body">
      <p>{{ message.text }}</p>
      <span class="timestamp">{{ formatTimestamp(message.timestamp) }}</span>
    </div>
  </div>
</div>

<div class="new-message">
  <input [(ngModel)]="newMessage" placeholder="Escribe un mensaje..." 
         [disabled]="!userEmail" /> 
  <button (click)="sendMessage()" [disabled]="!userEmail || !newMessage.trim()">Enviar</button> 
</div>
