.registro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../../../assets/bg-login.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 20px;
}

form {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos dentro del formulario */
}

h1 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  width: 100%; /* Asegura que el contenedor del input ocupe todo el ancho */
  text-align: left; /* Mantén el texto del label alineado a la izquierda */
}

label {
  margin-bottom: 8px;
  font-size: 1.2rem;
}

input {
  width: 100%; /* Ocupa el 100% del contenedor */
  padding: 10px;
  margin-bottom: 5px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño del input */
}

.avatar-selection {
  margin-bottom: 20px;
}

.avatar-selection h3 {
  margin-bottom: 10px;
}

.avatar-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.avatar {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  transition: opacity 0.3s;
}

.avatar:nth-child(1) {
  background-image: url('../../../assets/profiles/1.png');
}

.avatar:nth-child(2) {
  background-image: url('../../../assets/profiles/2.png');
}

.avatar:nth-child(3) {
  background-image: url('../../../assets/profiles/3.png');
}

.avatar:nth-child(4) {
  background-image: url('../../../assets/profiles/4.png');
}

.avatar:nth-child(5) {
  background-image: url('../../../assets/profiles/5.png');
}

.avatar:nth-child(6) {
  background-image: url('../../../assets/profiles/6.png');
}

.avatar.selected {
  opacity: 0.5;
}

button {
  width: 100%;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #6200ea;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3700b3;
}
