  /* Estilos generales */
  :host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    position: relative;
    background-image: url('/assets/ahorcado/ahorcado-bg.png');
    background-size: cover;
    background-position: center;
  }

  .fail-indicator {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
    height: 300px;
    background-size: cover;
    background-position: center;
    font-size: 1.5rem;
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .displayed-word {
    margin: 20px 0;
    font-size: 2.5rem;
    color: aqua;
    letter-spacing: 15px;
    text-align: center;
  }

  .keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto; 
  }

  .row {
    margin: 10px 0;
  }

  button {
    margin: 5px;
    padding: 10px;
    font-size: 1.5rem;
    background-color: #0075ea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:disabled {
    background-color: grey; /* Cambia el color de las letras usadas */
  }
  .points {
    font-size: 2rem;
    font-weight: bold;
    color: #00f2ff; /* Celeste brillante */
    text-shadow: 
      0 0 5px #00f2ff, 
      0 0 10px #00f2ff, 
      0 0 20px #00f2ff, 
      0 0 30px #00e5ff, 
      0 0 40px #00e0ff, 
      0 0 50px #00d8ff;
    padding: 10px;
    text-align: center;
    margin: 20px 0;
  }
  
  .points::after {
    content: ' ✨';
    animation: shine 1.5s infinite alternate;
  }
  
  @keyframes shine {
    from {
      text-shadow: 
        0 0 5px #00f2ff, 
        0 0 10px #00f2ff, 
        0 0 20px #00f2ff, 
        0 0 30px #00e5ff, 
        0 0 40px #00e0ff, 
        0 0 50px #00d8ff;
    }
    to {
      text-shadow: 
        0 0 10px #00f2ff, 
        0 0 20px #00f2ff, 
        0 0 30px #00f2ff, 
        0 0 40px #00e5ff, 
        0 0 50px #00e0ff, 
        0 0 60px #00d8ff;
    }
  }