
<!-- Div que cambia el fondo según los fallos -->
<div class="fail-indicator" [style.background-image]="getFailBackground()">
  Fallos: {{ failCount }}
</div>

<!-- Mostrar la palabra con guiones bajos -->
<div class="displayed-word">
  <span *ngFor="let letter of displayedWord">
    {{ letter }}
  </span>
</div>
<app-alert></app-alert>

<!-- Teclado para seleccionar letras -->
<div class="keyboard">
  <div class="row">
    <button 
      *ngFor="let key of row1" 
      [disabled]="isLetterUsed(key)" 
      (click)="onKeyPress(key)">
      {{ key }}
    </button>
  </div>
  <div class="row">
    <button 
      *ngFor="let key of row2" 
      [disabled]="isLetterUsed(key)" 
      (click)="onKeyPress(key)">
      {{ key }}
    </button>
  </div>
  <div class="row">
    <button 
      *ngFor="let key of row3" 
      [disabled]="isLetterUsed(key)" 
      (click)="onKeyPress(key)">
      {{ key }}
    </button>
  </div>
</div>
<button (click)="goHome()" class="home-button">Volver al Home</button>
