<div class="juego-container">
  <div class="mazo">
    <div class="mazo-boca-arriba">
      <h3>Carta Boca Arriba</h3>
      <img *ngIf="cartaActual" [src]="'/assets/' + cartaActual" alt="Carta Actual" />
    </div>
    <div class="mazo-dado-vuelta">
      <h3>Mazo</h3>
      <img  src="/assets/mayormenor/trasero.png" alt="Carta Trasera" />
    </div>
  </div>

  <div class="botones">
    <button (click)="verificarEleccion('mayor')">Mayor</button>
    <button (click)="verificarEleccion('menor')">Menor</button>
  </div>
  <app-alert></app-alert>

  <div class="resultado">
    <p>Puntos: {{ puntos }}</p>
    <p>Vidas: <span class="corazones">{{ '❤️'.repeat(vidas) }}</span></p>
  </div>

  <!-- Botón que redirige al Home -->
  <button class="home" (click)="irAlHome()">Volver al Home</button>
</div>
